name: Standard CI
run-name: Running formatting, tests and compilation
on: [push]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: maven

      - name: Running spotless:check
        run: mvn spotless:check

      - name: Testing compilation
        run: mvn compile

      - name: Running tests
        run: mvn test

      - name: Running integration tests
        run: mvn clean verify